<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="TestConnectionString"
        connectionString="Server=localhost;Integrated Security=true;Database=NORTHWND;User Id=sa;Password="
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>